/* R E S E T */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: 'Poppins', sans-serif;
}
/* ol, ul {
	/* list-style: none; */

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ///////////////////////////////////////////////////////////////////////////////////// */

/* B  A  S  E */

/* html{
    /* background-color: black; */

body{
    background-color: white;
    color: #3c3c3c;
}


/* G R I D */

/* PDP */

.grid {
    margin: 0 auto;
    max-width: 960px;
    display: grid; 
    grid-template-columns: 1fr; 
    grid-row-gap: 16px; 
    grid-template-areas: 
        "main-header"
        "product-image"
        "product-title"
        "product-buy-area"
        "product-description"
        "reviews"
        "recommendations"
        "view-more-from"
        "main-footer"; 
}

@media (min-width: 768px){
    .grid{
    grid-template-columns: 1fr 1fr 304px;
    grid-template-areas: 
    "main-header main-header main-header"
    "product-image product-image product-title"
    "product-image product-image product-buy-area"
    "product-description product-description product-description"
    "reviews reviews reviews"
    "recommendations recommendations recommendations"
    "view-more-from view-more-from view-more-from"
    "main-footer main-footer main-footer"; 
    }
}

.main-header { grid-area: main-header; }
.img-carousel { grid-area: product-image; }
.product-title { grid-area: product-title;}
.product-buy-area { grid-area: product-buy-area; }
.product-description { grid-area: product-description; }
.reviews { grid-area: reviews; }
.recommendations { grid-area: recommendations; }
.view-more-from { grid-area: view-more-from; }
.main-footer { grid-area: main-footer; }

/* PLP */

.grid__listing {
    margin: 0 auto;
    max-width: 960px;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-row-gap: 16px; 
    grid-template-areas: 
        "main-header main-header"
        "filter-menu filter-menu" 
        "product-list product-list"
        "main-footer main-footer"; 
}

@media (min-width: 768px){
    .grid__listing{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "main-header main-header main-header main-header"
    "filter-menu product-list product-list product-list"
    "main-footer main-footer main-footer main-footer"; 
    }
}

.main-header { grid-area: main-header; }
.filter-menu { grid-area: filter-menu; }
.product-list { grid-area: product-list; }
.main-footer { grid-area: main-footer; }


/* F O N T S */
h1{ font-size: 24px; line-height: 1.3; margin-top: 4px; font-weight: 600;} 
h2{ font-size: 18px;line-height: 1.4; margin-top: 16px; font-weight: 600;} 
h3{ font-size: 16px;line-height: 1.5; margin-top: 16px; font-weight: 600;} 
h4{ font-size: 15px;line-height: 1.6; margin-top: 16px; font-weight: 600;} 
p{ font-size: 14px;line-height: 1.7; margin-top: 8px;}

.brand-name {
    font-weight: 200;
}

.small-text{
    font-size: 12px;
}

section li{
    font-size: 14px; line-height: 1.7;
    /* margin-left: 18px; */
}

footer li{
    font-size: 12px; line-height: 2;
    list-style: none;
    color: #757575;
    /* margin-left: 18px; */
}

footer h3{
    font-size: 12px;
}

/* U T I L I T Y */
.margin-top-extra-small {margin-top: 4px;}
.margin-bottom-extra-small {margin-bottom: 4px;}
.margin-right-extra-small {margin-right: 4px;}
.margin-left-extra-small {margin-left: 4px;}
.margin-top-small {margin-top: 8px;}
.margin-bottom-small {margin-bottom: 8px;}
.margin-left-small {margin-left: 8px;}
.margin-right-small {margin-right: 8px;}
.margin-top-medium {margin-top: 16px;}
.margin-bottom-medium {margin-bottom: 16px;}
.margin-left-medium {margin-left: 16px;}
.margin-right-medium {margin-right: 16px;}
.margin-top-big {margin-top: 24px;}
.margin-bottom-big {margin-bottom: 24px;}
.margin-left-big {margin-left: 24px;}
.margin-right-big {margin-right: 24px;}

.padding-top-small {padding-top: 8px;}
.padding-bottom-small {padding-bottom: 8px;}
.padding-left-small {padding-left: 8px;}
.padding-right-small {padding-right: 8px;}
.padding-top-medium {padding-top: 16px;}
.padding-bottom-medium {padding-bottom: 16px;}
.padding-left-medium {padding-left: 16px;}
.padding-right-medium {padding-right: 16px;}
.padding-top-big {padding-top: 24px;}
.padding-bottom-big {padding-bottom: 24px;}z
.padding-left-big {padding-left: 24px;}
.padding-right-big {padding-right: 24px;}

.text-centre {text-align: center;}
.text-right {text-align: right;}

.border-top{border-top: lightgray solid 1px;}
.border-bottom{border-bottom: lightgray solid 1px;}


/* ///////////////////////////////////////////////////////////////////////////////////// */


/* C  O  M  P  O  N  E  N  T  S */

.main-header-desktop-search input{
    width: 100%;
    display: inline-block;
    height: 48px;
    border-radius: 4px;
    border: 1px solid lightgrey;
}

.img-carousel{
    width: 100%;    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
            "main-image"
            "image-thumbnails" ; 
}

@media (min-width: 768px){
    .img-carousel{
        width: 100%;    
        display: grid;
        grid-template-columns: 80px 1fr;
        grid-template-areas: 
            "image-thumbnails main-image"; 
    }
}

@media (min-width: 576px){
    .img-carousel{
        width: 100%;    
        display: grid;
        grid-template-columns: 80px 1fr;
        grid-template-areas: 
            "image-thumbnails main-image"; 
    }
}

.img-carousel_thumbnails { grid-area: image-thumbnails; }
.img-carousel_main-image { grid-area: main-image; }

.img-carousel_main-image{
    height: minmax(auto,766px);
}

img {
    max-width: 100%;
    height: auto;
  }

.button{
    border-radius: 4px;
    color: white;
    background-color: black;
    display: block;
    width: 100%;
    padding: 16px 12px;
    height: 58px;
}

.button:hover{
    cursor: pointer;
}

.primary:hover{
    background-color: #006700;
}

.primary{
    background-color: #008800;
    border: none;
}

.mono{
    background-color: #333;
    border: none;
}

.secondary{
    background-color: white;
    border: black solid 1px;
    color: black;
}

.fav-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.message{
    display: flex;
    flex-direction: row; 
    align-items: center;
}

.message .icon{
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 48px;
    height: 48px;
    background-color: lightgray;
    margin-right: 16px;
    border-radius: 50%;
}

.message .text{
    width: 80%;
}


hr{
    margin-bottom: 24px;
    margin-top: 24px;
}

.recommendations_cards .product-card{
    width: 140px;
    margin-right: 16px;
}

.product-card{
    margin-top: 16px;
    margin-bottom: 16px;
}

@media (min-width: 768px){
    .product-card{
    margin-right: 0;
    }
}

.product-card h3{
    font-size: 14px;
    line-height: 1.4;
    margin-top: 4px;
}

.product-card_brand h3{
    font-weight: 400;
}

.product-card a{
    text-decoration: none;
}

.product-card a:hover{
    text-decoration: underline;
}

.product-card a:visited{
    color: #333;
}

.product-card_image{
    /* background-color: lightgray; */
    /* height: 186px; */
    margin-bottom: 4px;
}

.form_newlsetter{
    display: flex;
    flex-direction: row;
}

.form_newlsetter input{
    flex-basis: auto;
    border: solid 1px lightgrey;
    border-radius: 4px;
}

.form_newlsetter button{
    flex-basis: 104px;
    background-color: lightgray;
}


/* ///////////////////////////////////////////////////////////////////////////////////// */


/* L  A  Y  O  U  T */

/* H E A D E R */
#main-header-logo {
    background-color: lightgrey;
    width: 100%;
    height: 24px;
}

header nav{
    padding: 12px 0;
    font-size: small;
    border-bottom: 2px solid #eee;
    /* box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, .1); */
}

header nav ul{
    display: flex; 
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
}

header nav ul li{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: lightgrey;
}


@media (min-width: 768px){
    .main-header{
    display: none;
    }
}

.main-header.desktop{
    display: none;
}

@media (min-width: 768px){
    .main-header.desktop{
    display: block;
    }
}

#main-header-desktop-logo {
    background-color: lightgrey;
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.main-header-desktop-top{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    grid-template-areas: 
    "main-header-desktop-logo main-header-desktop-search main-header-desktop-icons"; 
}

.main-header-desktop-logo { grid-area: main-header-desktop-logo; }
.main-header-desktop-search { grid-area: main-header-desktop-search; }
.main-header-desktop-icons { grid-area: main-header-desktop-icons; }

.main-header-desktop-icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.main-header-desktop-icons div{
    font-size: 14px;
    color: lightgray;
}

.main-header-desktop-icons div .icon{
    width: 24px;
    height: 24px;
    /* background-color: lightgray;
    border-radius: 50%; */
    margin-bottom: 4px;
}

.main-header-desktop-icons_group{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 32px;
}

.main-header-desktop-bottom{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    background-color: #eee;
    flex-grow: 1;
}

.main-header-desktop-bottom ul{
    flex-grow: inherit;
}

.main-header-desktop-bottom li{
    padding: 0 4px;
    text-align: center;
    font-size: 11px;
}

.product-title{
    align-self: start;
    height: min-content;
}

.product-buy-area{
    align-self: start;
}


/* S I Z E  S E L E C T O R */

.size-selector{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
    margin: 0 auto;
    list-style-type: none;
}

.size-selector li {
    border: #cccccc 1px solid;
    height: 48px;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    line-height: 48px;
    position: relative;
}

.size-selector label,
.size-selector input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.size-selector input[type="radio"] {
    opacity: 0.01;
    z-index: 100;
  }

.size-selector li:hover{
    border: #333333 1px solid;
    cursor: pointer;
}

.size-selector input[type="radio"]:checked+label,
  .Checked+label {
    /* border: #dd007a 2px solid; */
    box-shadow:0px 0px 0px 2px #dd007a inset;
    border-radius: 4px;
  }

  .size-selector label {
    /* padding: 5px; */
    /* border: 1px solid #CCC; */
    cursor: pointer;
    z-index: 90;
  }
  
  /* .size-selector label:hover {
    background: #DDD;
  } /*


/* D E S C R I P T I O N */

/* @media (min-width: 700px){
    .product-description_list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    div.product-description_list > * { padding: 0 16px 0 0; }
} */

.product-description_list li{
    margin-left: 16px;
}


/* R E C S */

.recommendations_cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@media (min-width: 768px){
    .recommendations_cards{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}


.cards {
    display: flex;
    align-items: flex-start;
      justify-content: center;
  }
  
  .card {
    background: #fff;
    width: 24em;
    border-radius: 0.6em;
    margin: 1em;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
    transition: all ease 200ms;
  }
  
  .card:hover {
    transform: scale(1.03);
    box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
  }
  
  .card img {
    width: 100%;
    object-fit: cover;
  }
  
  .card h2 {
    color: #222;
    margin-top: -0.2em;
    line-height: 1.4;
    font-size: 1.3em;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    transition: all ease-in 100ms;
  }
  
  .card p {
    color: #777;
  }
  
  .card h5 {
    color: #bbb;
    font-weight: 700;
    font-size: 0.7em;
    letter-spacing: 0.04em;
    margin: 1.4em 0 0 0;
    text-transform: uppercase;
  }
  
  .card-body {
    padding: 1.2em;
  }


/* V I E W - M O R E - F R O M */

.view-more-from_links ul {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    /* margin-left: 16px; */
    list-style: none;
    text-decoration: underline;
}

@media (min-width: 700px){
    .view-more-from_links ul {
        flex-direction: row;
    }
}


/* L I S T I N G */
.product-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
}

@media (min-width: 768px){
    .product-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

/* F I L T E R  B U T T O N S */
.filter-buttons{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 16px;
}

.filter-buttons button{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px){
    .filter-buttons{
    display: none;
    }
}


/* F I L T E R  M E N U */
.filter-menu .fiter-menu__desktop{
    display: none;
}

.fiter-menu__desktop{
    display: flex;
    flex-direction: column;
}

.fiter-menu__desktop li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    border-bottom: 2px solid rgb(240, 240, 240);
}

.fiter-menu__desktop li h3{
    margin-top: 0;
}

@media (min-width: 768px){
    .filter-menu .fiter-menu__desktop{
        display: block;
    }
}

.filter-menu h2{
    display: none;
}

@media (min-width: 768px){
    .filter-menu h2{
        display: block;
    }
}

.filter-menu h1{
    text-align: center;
}

@media (min-width: 768px){
    .filter-menu h1{
        text-align: left;
    }
    
}

/* F O O T E R */

.main-footer{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-areas: 
    "main-footer_credit-info main-footer_credit-info"
    "main-footer_links--account main-footer_links--help"
    "main-footer_social main-footer_social"
    "main-footer_copyright main-footer_copyright"; 
}

@media (min-width: 768px){
    .main-footer{
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-areas: 
    "main-footer_credit-info main-footer_credit-info main-footer_credit-info"
    "main-footer_links--account main-footer_links--help main-footer_social"
    "main-footer_copyright main-footer_copyright main-footer_copyright"; 
}
}

.main-footer_credit-info { grid-area: main-footer_credit-info; }
.main-footer_links--account { grid-area: main-footer_links--account; }
.main-footer_links--help { grid-area: main-footer_links--help; }
.main-footer_social { grid-area: main-footer_social; }
.main-footer_copyright { grid-area: main-footer_copyright; }


.main-footer_credit-info{
    /* background-color: lightgrey; */
    /* padding: 16px; */
    color: #a5a5a5;
}

.main-footer_social--app .icon{
    display: inline-block;
    width: 48px;
    height: 48px;
    background-color: lightgray;
    margin-right: 8px;
    margin-top: 8px;
    border-radius: 50%;
}

.main-footer_social--app .app{
    display: inline-block;
    height: 48px;
    width: 116px;background-color: lightgray;
    margin-right: 8px;
    margin-top: 8px;
    border-radius: 4px;
}

.main-footer_copyright{
    color: #a5a5a5;
}



 /* M O D A L */

  :root {
    --modal-duration: 1s;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    margin: 10% auto;
    width: 80%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
  }

  /* @media (min-width: 768px){
    .modal-content {
    width: 960px;
} */
  
  /* .modal-header h2,
  .modal-footer h3 {
    margin: 0;
  } */
  
  .modal-header {
    padding: 16px;
    background: #fff;
    /* color: #fff; */
  }
  
  .modal-body {
    padding: 16px 24px;
    background: #fff;
  }
  
  .modal-footer {
    padding: 16px;
    color: #333;
    text-align: center;
    background: #fff;
  }
  
  .close {
    color: #ccc;
    float: right;
    font-size: 30px;
    /* color: #fff; */
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  @keyframes modalopen {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  